#employees-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.customer-info {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 780px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}
.customer-info > div {
    width: 50%;
}
.btn-group-customer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
article {
    width: 100%;
}