#customer-section {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}
#modal-customer-content {
    display: flex;
    flex-direction: column;
}
#modal-customer-content article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#modal-customer-content article input{
    width: 100%;
    max-width: 400px;
    margin: 10px;
    padding: 5px;
    font-size: 1em;
}
.customer-info {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 780px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}
.customer-info > div {
    width: 50%;
}
.btn-group-customer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}