h1 {
    color: gray;
}
.login-container {
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh auto;
    box-shadow: 2px 2px 2px 2px gray;
    padding-bottom: 20px;
}
.login-container div {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-container div input {
    margin: 5px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid gray;
}
@media only screen and (max-width: 500px) {
    .login-container {
        border: none;
        box-shadow: none;
    }
    .login-container div {
        width: 100%;
    }
    .login-container div input {
        width: 80%;
    }
  }