*{
  color: gray;
  text-align: center;
}
p {
  text-align: left;
  margin-left: 10px;
  width: 100%;
}
span {
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-around;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 100%;
  padding: 10px;
}
td {
  border-bottom: 1px solid gray;
  text-align: left;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: -10px;
  width: 40%;
}
#formModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#formModal input{
  width: 100%;
  max-width: 400px;
  margin: 10px;
  padding: 5px;
  font-size: 1em;
}
button {
    max-width: 200px;
    margin: 0 auto;
}
.btn {
  font-size: 1em;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: white;
  max-width: 200px;
  width: 100%;
  margin-top: 10px;
}
.btn-primary {
  background-color: #007bff;
}
.btn-primary:hover {
  background-color: #0069d9;
}
.btn-secundary {
  background-color: #28a745;
}
.btn-secundary:hover {
  background-color: #218838;
}
.btn-info {
  background-color: #17a2b8;
}
.btn-info:hover {
  background-color: #138496;;
}
.btn-danger {
  background-color: #dc3545;
}
.btn-danger:hover {
  background-color: #c82333;;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
 /* The navigation bar */
 .navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}  